.logo {
    height: 50px;
    filter: invert(100%) sepia(8%) saturate(2%) hue-rotate(191deg) brightness(108%) contrast(101%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.section {
    padding-left: 15%;
    padding-right: 15%;
}

.section1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.header-link {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

body {
    margin: 0;
}

a {
    padding-left: 15px;
}

.salad {
    height: 300px;
}

.main-text {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    color: #e5e7eb;
    font-weight: bolder;
    margin: 0;
}

.signupbutton {
    background-color: #3882F6;
    color: #e5e7eb;
    border: 0;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;

}

.section2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.shape {
    height: 100px;
    width: 100px;
    border: 2px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 5px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.shapecontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.shape-subtext {
    margin: auto;
    padding-top: 15px;
    color: #1F2937;
    text-align: center;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
}

.section3 {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-bottom: 50px;
    padding-top: 50px;
}

.quote {
    font-size: 36px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #1F2937;
    font-style: italic;
    font-weight: 10;
    margin-left: 50px;
    margin-right: 50px;
}

.quoteperson {
    margin-left: auto;
    margin-right: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #1F2937;
    font-weight: bolder;
    text-align: center;
}

footer {
    background-color: #1F2937;
    display: flex;
    align-content: center;
}

.footertext {
    padding-top: 50px; 
    padding-bottom: 50px; 
    color: white;
    margin: 0;     
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
}